.hero {
background: linear-gradient(
135deg,
#e0f7ff,
#ffffff
);
}

.hero h1 {
color: #075985;
}

.servicio {
border: none;
border-radius: 15px;
transition: transform 0.3s;
}

.servicio {
transform: translateY(-5px);
}

.icono {
font-size: 45px;
margin-bottom: 15px;
}


.profesionales-seccion {
background-color: #e8f7fc;
}

.profesional {
border: none;
border-radius: 15px;
}

.foto-profesional {
font-size: 60px;
margin-bottom: 10px;
}

.especialidad {
color: #0e7490;
font-weight: bold;
}

.precio {
color: #198754;
font-weight: bold;
}


.mensaje-final {
background-color: #ffffff;
}

.mensaje-final h2 {
color: #075985;
}