body {
margin: 0;
font-family: Arial, sans-serif;
background-color: #f4f9fc;
color: #333;
}


.navbar-brand {
font-size: 1.3rem;
}

.nav-link {
margin-left: 10px;
}

.nav-link {
color: #dff6ff !important;
}


h1,
h2,
h3 {
color: #155e75;
}


footer {
margin-top: 30px;
}
    
@media (max-width: 576px) {

.navbar-brand {
    font-size: 1.1rem;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.5rem;
}

}